.search_form{
    display: flex;
    align-content: center;
    margin: 20px;
    justify-content: center;
    /*background-color: red;*/
}

.search_form input{
    width: 50%;
    padding: 10px;
    margin-left: 10px;
    outline: none;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}